div .uploadPhotoPlaceHolder {
    display: inline-block;
    width: 130px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    border-radius: 5%;
    background-color: rgba(206, 205, 205, 0.897); 
}

.descriptionInput {
    width: 450px;
    min-height: 30px;
    max-height: 200px;
    background-color: rgba(206, 205, 205, 0.897); 
}

.phoneNumberInput {
    width: 400px;
    height: 30px;
    resize: none;
    background-color: rgba(206, 205, 205, 0.897); 
}

.emailInput {
    width: 400px;
    height: 30px;
    resize: none;
    background-color: rgba(206, 205, 205, 0.897); 
}

.nameInput {
    width: 400px;
    height: 30px;
    resize: none;
    background-color: rgba(206, 205, 205, 0.897); 
}